<mat-toolbar style="padding: 10px;" color="primary"> 
    <span [routerLink]="['/home']">mynotes</span>
    <!-- spacer -->
    <!-- <span style="flex: 1 1 auto"></span> -->
    <!-- <form [formGroup]="searchForm" (ngSubmit)="search()">
        <mat-form-field floatLabel="never" style="width: 15rem;">
          <input matInput formControlName="search" placeholder="search...">
        </mat-form-field>

        <button mat-button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
    </form> -->
</mat-toolbar>